#ticketCenter{
		text-align: center;
	}
button {
	margin-top: 30px;
}
label, input, select {
    margin-bottom: 10px;
    height: 40px;
    width: 200px;
    box-sizing: border-box;
}
#seats .selected{
	background-color: #f00;
}

#seats {
    display: flex;
    flex-direction: column; /* 세로 방향으로 나열 */
    align-items: center; /* 좌우 중앙 정렬 */
    margin-top: 20px;
}

#seats ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#seats ul:last-child {
    margin-right: 0;
}

#seats li {
    list-style-type: none;
    margin: 5px;
}
.seat {
    width: 50px !important;
    height: 50px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.booked {
    background-color: #ccc;
    pointer-events: none;
}
