<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maker.mapper.NoticeMapper">
	<!-- 공지사항 등록 -->
    <insert id="noticeEnroll">
    	insert into notice(nno, n_title, n_comment, n_reg, cno)
        values(seq_notice.nextval, #{n_title}, #{n_comment}, sysdate, #{cno})
    </insert>
    
    <!-- 공지사항 목록 -->
    <select id="noticeGetList" resultType="com.maker.domain.NoticeVO">
      
    <![CDATA[
        select *
        from (
            select /*+ index_desc(notice PK_NOTICE) */ 
                rownum rn, nno, n_title, n_comment, n_reg, cno
            from notice 
            where
             
    ]]>         
          <if test="keyword != null">
              n_title like '%'||#{keyword}||'%' and
          </if>
            
    <![CDATA[        
           rownum <= #{pageNum}*#{amount})
          where rn > (#{pageNum}-1)*#{amount}
    ]]>
      
    </select>
    
    <!-- 공지사항 개수 -->
    <select id="noticeGetTotal" resultType="int">
		select count(*)
		from notice
			
        <if test="keyword != null">
        	where n_title like '%' || #{keyword} || '%'
        </if>
    </select>
    
    <!-- 공지사항 상세 페이지 -->
  	<select id="noticeGetDetail" resultMap="mapping_NoticeVO">
		select * 
		from notice 
		where nno = #{nno}
    </select>
  	  
  	<resultMap type="com.maker.domain.NoticeVO" id="mapping_NoticeVO">
		<result property="nno" column="NNO" />
		<result property="n_title" column="N_TITLE" />
		<result property="n_comment" column="N_COMMENT" />
		<result property="n_reg" column="N_REG" />
		<result property="cno" column="CNO" />
    </resultMap>
    
    <!-- 공지사항 수정 -->
  	<update id="noticeModify">
		update notice 
		set n_title = #{n_title}, n_comment = #{n_comment}
		where nno = #{nno}
  	</update>
    
    <!-- 공지사항 삭제 -->
  	  <delete id="noticeDelete">
  		delete 
  		from notice 
  		where nno = #{nno}
  	  </delete>
</mapper>