@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}
/* 화면 전체 렙 */
.wrapper {
	width: 100%;
}
/* content 랩 */
.wrap {
	width: 1080px;
	margin: auto;
}

/* 관리자페이지 컨텐츠 영역 */
.notice_content_wrap {
	width: 80%;
	height: 100%;
	height: 700px;
	margin-left: 230px;
	padding: 32px;
}

}
.notice_content_subject { /* 관리자 컨텐츠 제목 영역 */
	font-size: 40px;
	font-weight: bolder;
	padding-left: 15px;
	background-color: #6AAFE6;
	height: 80px;
	line-height: 80px;
	color: white;
}

/* 작가 목록 영역 */
.notice_table_wrap {
	padding: 20px 35px
}

.notice_table {
	width: 100%;
	border: 1px solid #d3d8e1;
	text-align: center;
	border-collapse: collapse;
}

.notice_table td {
	padding: 10px 5px;
	border-bottom: 1px solid #e9ebf0;
}

.notice_table thead {
	background-color: #f8f9fd;
	font-weight: 600;
}

.th_column_1 {
	width: 110px;
}

.th_column_2 {
	width: 120px;
}

.th_column_3 {
	width: 130px;
}

.th_column_4 {
	width: 110px;
}

.th_column_5 {
	width: 110px;
}

/* 공지사항 상세 페이지 */
.notice_table a {
	color: #1088ed;
	font-weight: 500;
	border: none:
}

/* 페이지 버튼 인터페이스 */
.pageMaker_wrap {
	text-align: center;
	margin-bottom: 40px;
	position: relative;
}

.pageMaker_wrap a {
	color: black;
}

.pageMaker {
	list-style: none;
	display: inline-block;
	margin-bottom: 100px;
}

.pageMaker_btn {
	float: left;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: 20px;
}

.next, .prev {
	width: 80px;
	border: 1px solid #ccc;
	padding: 0 10px;
}

.next a, .prev a {
	color: #ccc;
}

.active { /* 현재 페이지 버튼 */
	border: 2px solid black;
	font-weight: 400;
}

/* 검색 영역 */
.search_wrap {
	position: relative;
	bottom: 0;
}

.search_input {
	position: relative;
	text-align: center;
}

.search_input input[name='keyword'] {
	padding: 4px 10px;
	font-size: 15px;
	height: 35px;
	line-height: 20px;
}

.search_btn {
	height: 40px;
	width: 80px;
	font-weight: 600;
	font-size: 18px;
	margin-left: 15px;
	background-color: #c3daf7;
}

.read_btn {
	position: relative;
	height: 40px;
	width: 80px;
	margin-left: 890px;
	bottom: 40px;
	background-color: green;
	color: white;
	border-radius: 10px;
}

.table_empty {
	height: 50px;
	text-align: center;
	margin: 200px 0 215px 0px;
	font-size: 25px;
}

/* float 속성 해제 */
.clearfix {
	clear: both;
}